.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}

.social-icon {
    width: 65px;
    height: 55px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.social-icon:hover {
    transform: scale(1.1);
}
